fastapi
uvicorn
python-multipart
PyPDF2
python-docx
# spacy
# scikit-learn
# sentence-transformers
mysql-connector-python
pydantic
requests
mammoth
easyocr
pdfminer.six
numpy
# pillow
pydantic-settings

httpx
