fastapi
uvicorn
python-multipart
# PyPDF2  # Not used in code
python-docx
# spacy
# scikit-learn
# sentence-transformers
mysql-connector-python
pydantic
requests
mammoth
easyocr
pdfminer.six
numpy
pillow
pydantic-settings
nest_asyncio
pyngrok

# httpx  # Not used in code
